body{
  background-color:rgb(235, 232, 232) ;
  display: flex;
  justify-content: center;
  

}

.div1{
  background-color: rgb(235, 232, 232);
  width: 700px;
  height: 93vh;
  border: rgb(0, 0, 0) solid 2px;

}

.boxform{
  display: flex;
  border: solid rgb(0, 0, 0);
  

}

/* formulario */

.form{
  /* border: rgb(5, 2, 2) solid 2px; */
  width: 100%;
  height: 20px;
  display: flex;  
  justify-content: space-between;
  align-items: ;

  
} 

.mensagem{
    width: 100%;
}